* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}

body {
  background-color: #e3e3e3;
}

.main-container {
	width: 1000px;
	display: block;
	margin: 0 auto;
	background-color: white;
}

.clearfix:after {
	display: block;
	content: '';
	clear: both;
	float: none;
}

                  /*HEADER*/


header {
	margin: o auto;
}

.baner {
	background: url(../img/baner.jpg) no-repeat center center;
	height: 240px;
}

.top-box {
	height: 27px;
	width: 100%;
	display: inline-block;
	margin: 0 auto;
	margin-top: 17px;
	margin-bottom: 10px;
	margin-left: 52px;
}

.phones {
	display: inline;
	color: #5e696d;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  width: 264px;
  height: 17px;
  vertical-align: middle;
}

.phones img {
	vertical-align: middle;
}

.login-form {
display: inline-block;
width: 495px;
height: 26px;
background-color: #b1bcc0;
background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
border-radius: 4px;
box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
margin-left: 17px;
}

form img {
	padding-left: 8px;
	margin-bottom: -5px;
  margin-top: 4px;
}

.log {
width: 115px;
height: 18px;
background-color: white;
border: 1px solid #9ba1a3;
border-radius: 2px;
padding-left: 5px;
}

.enter {
color: white;
font-family: "Lucida Sans Unicode";
font-size: 11px;
border-color: transparent;
border-style: none;
border-width: 0;
background-color: transparent;
cursor: pointer;
}

.enter:hover {
	text-decoration: underline;
}

.reg {
color: white;
font-family: "Lucida Sans Unicode";
font-size: 11px;
border-left: 1px solid white;
padding-left: 5px;
}

.reg:hover {
	text-decoration: underline;
}

.fogot {
color: #bfbfbf;
font-family: "Lucida Sans Unicode";
font-size: 12px;
padding-right: 10px;
padding-left: 3px;
text-decoration: underline;
}

.fogot:hover {
	color: white;
}

.home-menu {
display: inline-block;
width: 77px;
height: 21px;
background-color: white;
border: 1px solid #bdc4c7;
position: relative;
overflow: hidden;
vertical-align: middle;
border-radius: 12px;
margin-left: 17px;
box-shadow: 1px 1px 2px rgba(150, 150, 150, 0.75);
}

.home-menu ul {
	position: relative;
	overflow: hidden;
	padding-left: 10px;
	padding-top: 4px;
}

.home-menu li {
	float: left;
	list-style: none;
	margin-right: 8px;
}

.home-menu a {
	display: block;
	background: url(../img/sprite-map-site.png) 0 0 no-repeat;
}

.home-menu .home {
height: 11px;
width: 11px;
background-position: 0 0;

}

.home-menu .map-site {
height: 10px;
width: 14px;
background-position: -12px 0;
}

.home-menu .letter {
height: 9px;
width: 12px;
background-position: -28px 0;
}

.home-menu .home:hover {
background-position: 0 -12px;

}

.home-menu .map-site:hover {
background-position: -12px -12px;
}

.home-menu .letter:hover {
background-position: -28px -12px;
}

.menu {
width: 912px;
height: 34px;
background-color: white;
background-image: linear-gradient(to top, black 0%, #576068 100%);
border: 1px solid #0d1642;
border-radius: 5px;
box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.75);
margin: 0 auto;
margin-top: 6px;
}

.menu nav {
	display: inline-block;
	vertical-align: middle;
	margin-top: 7px;
	margin-left: 125px;
}

nav ul li {
	float: left;
}

nav a {
height: 12px;
font-family: "Lucida Sans Unicode";
font-size: 14px;
color: #b1bcc0;
vertical-align: middle;
padding-left: 15px;
padding-right: 15px;
padding-top: 3px;
padding-bottom: 3px;
}

nav a:hover {
border-radius: 15px;
color: white;
background-color: #f60303;
background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
}

.basket {
color: #929b9f;
font-family: Arial;
font-size: 11px;
margin-left: 55px;
display: inline-block;
vertical-align: middle;
}

.basket img {
	margin-right: 6px;
}

.basket span {
	vertical-align: middle;

}

.blue {
color: #0d5a8f;
margin-right: 15px;
}

.blue:last-child {
	margin-left: 11px;
}


             /*SECTION*/


section {
	/*position: relative;*/
}

.find {
	display: block;
	margin-top: 12px;
	margin-left: 47px;
	margin-right: auto;
}

.find div {
	float: left;
}

.findtires {
	margin-left: 7px;
}

.content {
	position: relative;
}

.aside-left {
	float: left;
	margin-left: 45px;
}

.catalog-prod {
width: 183px;
height: 27px;
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 13px;
background-color: white;
border: 1px solid #79878d;
border-radius: 14px;
box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
background: url(../img/brands.png) 2px center no-repeat;
vertical-align: middle;
}

.catalog-prod span {
	display: inline-block;
	padding-top: 4px;
	padding-left: 28px;
}

.shiny-disci-bolty-left {
width: 150px;
height: 26px;
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
background: url(../img/circle.png) 3px 1px no-repeat;
border: 1px solid #79878d;
border-radius: 14px;
margin-top: 13px;
}

.shiny-disci-bolty-left span {
	display: inline-block;
	padding-top: 4px;
	padding-left: 28px;
}

/*.shiny-disci-bolty-left img {
margin-top: 1px;
margin-left: 3px;
}*/

.aside-left ul li a {
color: #465961;
font-family: "Lucida Sans Unicode";
font-size: 13px;
margin-left: -5px;
}

.aside-left ul li {
list-style-type: circle;
list-style-position: inside;
margin-bottom: 5px;
margin-left: 35px;
margin-top: 5px;
}

.aside-left ul li:hover {
color: #0c3256;
font-family: Arial;
font-size: 14px;
font-weight: 700;
font-style: italic;
text-decoration: underline;
}

.main {
position: absolute;
left: 238px;
width: 526px;
height: 627px; /*нужно потом убрать*/
background-color: white;
background-image: linear-gradient(to top, rgba(35, 75, 93, 0.24) 0%, rgba(201, 207, 209, 0.24) 100%);
border-radius: 3px;
/*margin-left: 238px;*/
}

.aside-right {
	float: right;
	margin-right: 45px;
}

.catalog-brand {
width: 183px;
height: 27px;
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 13px;
background-color: white;
border: 1px solid #79878d;
border-radius: 14px;
box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
background: url(../img/brands.png) 2px center no-repeat;
vertical-align: middle;
}

.catalog-brand span {
  display: inline-block;
	padding-top: 4px;
	padding-left: 28px;
}

.shiny-disci-right {
width: 150px;
height: 26px;
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
background: url(../img/circle.png) 3px 1px no-repeat;
border: 1px solid #79878d;
border-radius: 14px;
margin-top: 13px;
margin-left: 15px;
margin-bottom: 11px;
}

.shiny-disci-right span {
  display: inline-block;
	padding-top: 4px;
	padding-left: 28px;
}

/*.aside-right .shiny-disci-right>input {
	margin-left: 25px;
}*/

#diski,
#shiny {
	margin-left: 24px;
	margin-bottom: 15px;
}

.choise {
width: 82px;
height: 26px;
background-color: black;
background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
border: 1px solid #a7abae;
border-radius: 10px;
color: #e5e9ea;
font-family: Arial;
font-size: 11px;
font-weight: 400;
margin-top: 6px;
margin-left: 25px;
}


              /*FOOTER*/



