	*{
		margin: 0;
		padding: 0;
	}
	body {
		width: 1350px;
		position: relative;
	}

	.wraper {
		margin: 0 auto;
		width: 50%;
		height: 600px;
		background: #e3e3e3;
	}

	td,
	tr {		
		width: 70px;
		height: 70px;
	}

	td{
		border: 5px solid #000;
	}

	table {
		border-collapse: collapse;
		position: absolute;
		top: 25%;
		left: 25%;
		height: 50%;
		width: 50%;
	}

	td.yellow {
		background: yellow;
	}

	td.red {
		background: red;
	}

	td.black {
		background: black;
	}

	td.blue {
		background: blue;
	}

	.thin {
		height: 35px;
		width: 70px;
	}

	table tr:first-child td{
		border-top: none;
	}

	table tr:last-child td{
		border-bottom: none;
	}

	table tr td:first-child{
		border-left: none;
	}

	table tr td:last-child{
		border-right: none;
	}

	table tr:nth-last-child(n-1) td{
		border-bottom: none;
	}