* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('../fonts/helveticaneuecyr-thin-webfont.eot');
    src: url('../fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
	width: 1215px;
	/*max-width: 1215px;
	min-width: 1215px;*/
	height: 1071px;
	background: url(../img/Background.png) no-repeat 50% 0;
	font-family: "helveticaneuecyrthin";
}
/*HEADER*/
header {
	width: 1215px;
	height: 35px;
	color: #fefefe;
	font-size: 14px;
	background-color: #074b88;
  font-family: "helveticaneuecyrthin";
}
nav {
	float: right;
}
ul.menu > li {
	display: block;
	float: right;
	/*position: relative;*/
	text-align: center;
	padding-right: 20px;
	margin-top: 6px;
}
ul.menu > li > a {
	padding: 5px 12px 5px 12px;
	color: #60b5ed;
	vertical-align: middle;
	text-align: center; 
}
nav ul.menu li.li-flag {
	margin-top: 2px;
	color: white; 
	vertical-align: middle;
	border-left: 1px solid #56a2dc;
}
nav ul.menu li.li-flag a {
	color: white; 
	vertical-align: top;
}
nav ul.menu li a span.underline {
	text-decoration: underline;
}
nav ul.menu li a.white {
	color: white;
}
/*nav > ul.menu > li.li-block a {
	display: inline-block;
}
nav > ul.menu > li.li-block > a {
	color: white;
	vertical-align: middle;
}*/
/*SECTION*/
section {
	width: 1215px;

}
.form-box {
	font-family: "helveticaneuecyrthin";
	width: 560px;
	height: 613px;
	margin: 0 auto;
	margin-top: 215px;
	background: rgba(0, 0, 0, 0.6);
}
.top-line {
	font-family: "helveticaneuecyrthin";
	text-align: center;
	padding-top: 22px;
	padding-bottom: 22px;
	border-bottom: 2px solid #b3c0ac;
	color: white;
	font-size: 24px;
}
form div input {
	font-family: "helveticaneuecyrthin";
	border: none;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 140px;
	padding-left: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 80px;
	color: #ccc;
	font-size: 14px;
	background-image: linear-gradient(to top, #111 0%, #0e0d0d 100%);
	box-shadow: 0 1px 0 #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, 0.2), inset 0 0 2px rgba(0, 0, 0, 0.1);
}
form div input:focus {
	background-image: linear-gradient(to top, #1b5288 0%, #1b5288 100%);
	/*box-shadow: 0 2px 0 #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, 0.2), 0 0 9px rgba(47, 123, 197, 0.77), inset 0 0 2px rgba(0, 0, 0, 0.1);*/
	outline: none;
	box-shadow: 0px 0px 10px 3px #518cb5;
}
form div input.submit:focus {
	cursor: pointer;
}
form div label {
	color: #ccc;
}
form div {
	color: #ccc;
}
button.fb {
	border: none;
	border-radius: 3px;
	background-color: #354e8e;
	color: white;
	padding-left: 90px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 36px;
	margin-left: 140px;
	margin-top: 25px;
}
div.buttom_text {
	font-family: "helveticaneuecyrthin";
	text-align: center;
	margin-top: 15px;
	font-size: 11px;
}
div.line {
	font-family: "helveticaneuecyrthin";
	display: block;
	margin-left: 140px;
	margin-top: 20px;
	margin-bottom: 20px;
}
form div input.fb {
	background: url(../img/login_fb.png);
	width: 276px;
  height: 35px;
  color: inherit;
  margin-top: 35px;
}
form div input.submit {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.09) 20%, rgba(255, 255, 255, 0.09) 100%);
  border: 1px solid #e68e16;
  padding: 11px 13px;
  margin-left: 200px;
}