body{
	background-color: #f9f9f9;
}
.container {
	background-color: white;
	width: 1060px;
	height: 950px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	margin: 0 auto;
	padding:  0 45px;
	padding-top: 50px;
	box-sizing: border-box;
	position: relative;
}
header {
	/*font-family: OpenSans;
	font-size: 15px;
	color: #ffffff;*/
	height: 40px;
	width: 965px;
}
.menu {
	width: 966px;
	height: 40px;
	/*background-image: -moz-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);*/
  background-image: linear-gradient(to top, #444343 0%, #5e5e5e 100%);
}
.menu li {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 100px;
	padding-top: 12px;
}
.menu li a {
	text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.5);
	color: white;
	font-family: OpenSans;
	font-size: 15px;
	text-decoration: none;
}
main {
	display: block;
	float: left;
	padding-top: 40px;
	padding-bottom: 40px;
}
.text {
	color: #2c2c2c;
	font-family: OpenSans;
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
}
.aside li a {
	color: white;
	font-family: OpenSans;
	font-size: 13px;
	text-decoration: none;
}
.section {
	
}
/*.text {
	text-align: left;
	width: 620px;
	margin-left: 330px;
	margin-top: 30px;
	}*/
	.bicycle {
		width: 680px;
		height: 400px;
		background: url(../img/bicycle.png) no-repeat center center;
		border: 1px solid #c8c8c8;
	}
	.bicycle img {
		display: block;
		margin: o auto;
	}
/*.bicycle img {
	padding: 50px;
	width: 555px;
	}*/
	.aside_menu li {
		display: block;
		float: left;
		width: 240px;
		height: 40px;
		border: 1px solid #c8c8c8;
		text-align: left;
	/*padding-left: 25px;
	padding-top: 12px;*/
	vertical-align: middle;
}
.logo {
	display: inline-block;
	margin-bottom: 40px;
}
footer {
	margin: 50px;
	width: 966px;
	height: 40px;
	background-color: white;
	background-image: linear-gradient(to top, #e1e1e1 0%, #e1e1e1 100%);
	color: #2c2c2c;
	font-family: OpenSans;
	font-size: 13px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.footer_icon {
	width: 800px;
	float: left;
}
.footer_icon li {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding-top: 12px;
	padding-right: 70px;
	padding-left: 25px;
	float: left;
}
.copyrights {
	width: 160px;
	float: left;
	vertical-align: middle;
	color: #2c2c2c;
	font-family: OpenSans;
	font-size: 13px;
	padding-top: 12px;
}
.footer_icon li a {
	color: #2c2c2c;
	font-family: OpenSans;
	font-size: 13px;
	text-decoration: none;
}
.footer_icon li a:hover {
	text-decoration: underline;
	color: black;
}
.clearfix:after {
	display: block;
	content: '';
	clear: both;
	float: none;
}
main:after {
	display: block;
	content: '';
	clear: both;
	float: none;
	height: 0;
}
footer:after {
	display: block;
	content: '';
	clear: both;
	float: none;
	height: 0;
}